// laptopCheckout Styles
.containerLaptop {
  @include clearfix;
  margin: 30px 125px;
  .imageContainer {
    margin: 30px 0;
  }
  h1, h2, h3 {
    color: $hpld-green;
    font-family: $font-stack-serif;
    margin: 0;
    padding: 0;
  }
  h1, h2 {
    text-transform: uppercase;
  }
  h1 {
    margin-bottom: 30px;
  }
  .videoThumb {
    width: 310px;
    height: 310px;
    margin-left: 30px;
    padding: 30px;
    float: right;
  }
  img {
    margin: 0;
    padding: 0;
  }
  a {
    color: $hpld-green;
  }
  .locationNav {
    margin: 0;
    padding: 0;
  }
  strong {
    color: $hpld-green;
  }

  .col-1-2 {
    width: 49%;
    float: left;
    margin: 0;
    h3 {
      margin: 30px 0 20px 0;
    }
    p {
      margin-bottom: 30px;
    }
    ul {
      font-family: $font-stack-sanserif;
      font-size: 14px;
      font-weight: 400;
      line-height: 3em;
      list-style-type: none;
      margin: 0;
      padding: 0;
    }
    ul li {
      margin: 0;
      padding: 0;
    }
    li a {
      font-family: $font-stack-sanserif;
      text-transform: uppercase;
      text-decoration: none;
      padding: 0.625em;
      &:hover {
        color: $white;
        background-color: $hpld-green;
      }
    }
  }
  .rightColumn {
    margin: 0;
    padding-left: 30px;
  }
  .btnLaptop {
    background-color: $light-gray;
    margin-top: 30px;
    padding: 0.625em 2em;
    &:hover {
      color: $white;
      background-color: $hpld-green;
    }
  }
  .computerAgreement {
    @include clearfix;
    background: linear-gradient($light-gray, transparent);
    margin-top: 50px;
    border-top: 1px dotted $hpld-light-green;
    border-bottom: 1px dotted $hpld-light-green;
    padding: 15px;
    ul li {
      line-height: 2em;
    }
  }
}
