// font stacks
$font-stack-serif: "Domine", Georgia, serif;
$font-stack-sanserif: "Lato", Arial, sans-serif;

// Colors

$white: #fff;
$black: #333;
$gray: #999;
$hpld-blue: #0078ae;
$hpld-green: #6cb33f;
$light-gray: #ebebeb;
$dark-gray: #363636;
$orange: #ff7200;
$purple: #a864a8;
